.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 80rem;
    margin: 5rem auto;
}

.brands-img {
    width: 100%;
    max-width: 196px;
    height: auto;
    object-fit: contain;
    margin: 1rem auto;
}