.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-inline: auto;
    padding: 2.5rem 0;
    max-width: 80rem;
}

.feature-content {
    display: flex;
    margin: 2rem auto;
    gap: 1rem;
}

.feature-text {
    display: flex;
    flex-direction: column;
    color: #484848;
    font-family: "Poppins", sans-serif;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-description {
    font-size: 1rem;
}